<!--<div class="panel panel-primary">-->
    <!--<div data-uw-anchor="header" class="panel-heading">-->
        <!--<span data-uw-anchor="title">工號查詢</span>-->
    <!--</div>-->
    <!--<div data-uw-anchor="content" class="panel-body" style="width:800px;">-->
        <!--<div class="form-horizontal">-->
            <!--<div class="form-group">-->
                <!--<label class="control-label col-sm-2">工號</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control"/>-->
                <!--</div>-->
                <!--<label class="control-label col-sm-2">姓名</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control"/>-->
                <!--</div>-->
                <!--<div class="col-sm-1">-->
                    <!--<i value="SEARCH" class="fa fa-search" style="font-size:24px; margin-top: 3px; color:steelblue;"></i>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-12">-->
                    <!--<table data-uw-anchor="grid" class="table table-bordered table-striped table-hover uw-selectable">-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="text-center">-->
            <!--<button value="confirm" class="btn btn-default" style="margin:5px;width:100px;color:steelblue;padding:8px 0px;">-->
                <!--確認-->
            <!--</button>-->
            <!--<button value="close" class="btn btn-default" style="margin:5px;width:100px;color:steelblue;padding:8px 0px;">-->
                <!--關閉-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div></div>